.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}

@media screen and (width < 415px) {
    .footer strong{
        font-size: 16px;
        padding: 0 15px;
    }
}